.modalBody {
  padding: 20px;
}

.adminLogin-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  align-items: center;
  justify-content: space-between;
  min-height: 100vh; /* Center vertically */
  background-color: #f4f7fc; /* Light background */
  padding: 20px; /* Add some padding for smaller screens */
}

.adminLogin-card {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  border: 1px solid #e0e0e0; /* Light border */
  margin-left: auto;
  margin-right: auto; /* Center the card for small screens */
}

.adminLogin-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.login-form-control {
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #3182ce;
  outline: none;
}

button.login-button {
  background-color: #3182ce;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

button.login-button:hover {
  background-color: #2b6cb0;
}

button.login-button:disabled {
  background-color: #9bbff1;
}

button.login-button:focus {
  outline: none;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .adminLogin-container {
    flex-direction: column;
    justify-content: center; /* Stack vertically for smaller screens */
  }

  .adminLogin-card {
    margin-top: 20px; /* Add spacing between elements */
    max-width: 90%; /* Reduce width to fit smaller screens */
  }

  .adminLogin-container img {
    max-width: 80%; /* Shrink image for smaller screens */
    height: auto;
    margin: 0 auto; /* Center image */
  }
}

@media (max-width: 768px) {
  .adminLogin-container {
    flex-direction: column;
    padding: 15px;
  }

  .adminLogin-card {
    padding: 20px;
  }

  .adminLogin-title {
    font-size: 20px;
  }
  input[type="email"],
  input[type="password"] {
    font-size: 13px;
    padding: 8px;
  }

  button.login-button {
    font-size: 14px;
    padding: 8px;
  }
 
}

@media (max-width: 480px) {
  .adminLogin-card {
    padding: 15px;
  }

  .adminLogin-title {
    font-size: 18px;
  }

  .login-button {
    font-size: 12px;
    padding: 6px;
  }

  input[type="email"],
  input[type="password"] {
    font-size: 12px;
    padding: 6px;
  }

  .adminLogin-container img {
    max-width: 100%; /* Full width on very small screens */
  }
}
