/* Form Container */
body{
  background-image: url("https://t3.ftcdn.net/jpg/09/32/26/74/360_F_932267458_Zqtzmc9EIfMjenziYeSO5FLwC8ryfhHy.jpg");
background-repeat: no-repeat;
background-size: cover;
  font-family: 'Aboreto', cursive;
}
 
.user-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f7fc;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-title {
  font-size: 24px;
  color: #029468;
  font-weight: bold;
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Controls the gap between label and input */
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 3px; /* Reduces extra space under the label */
}

.text-style {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group select {
  padding: 8px; /* Slightly reduces padding for a compact look */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.submit-btn {
  grid-column: span 3;
  background-color: #3182ce;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: #2b6cb0;
}
 
.card {
  max-width: 500px;
  margin-left: 500px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-icon {
  color: #28a745;
  margin-left: 8px;
}

.card h4,
.card p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.card p:last-of-type {
  font-size: 20px;
  margin-top: 15px;
}

.card strong {
  color: #333;
}
